# Ignorar archivos ejecutables
*.exe
*.out
*.o
*/dale
*.bin
*/[A-Za-z]*

# Ignorar archivos de depuración de macOS
*.dSYM/
*.DS_Store

# Ignorar archivos de texto
*.txt
*/*.txt

# Mantener archivos de código fuente y configuración
!*.cpp
!*.h
!*.hpp
!*.c
!*.md
!*.gitignore